body {
    background-color: antiquewhite;
}
h1 {
    color: rgb(108, 43, 169);
    font-size: 100px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
div {
    color: cornflowerblue;
    font-size: 70px;
    text-align: center;

}